:root{
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --lgrey: hsl(217, 12%, 63%);
    --mgrey: hsl(216, 12%, 54%);
    --dblue: hsl(213, 19%, 18%);
    --vdblue: hsl(216, 12%, 8%);
}